html, body {
    font-family: "Comic Sans MS";
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    line-height: 150%;
}

#content {
    padding: 1rem 1rem 6rem 1rem;
    background: #eee;
    width: calc(100% - 2rem);

    float: left;  /*Remove when flex-wrapped*/

    /*display: flex;*/
    /*flex-direction: row;*/
    /* Chrome-only before FF28 lands. Use float: left in .box for now */
    /* flex-wrap: wrap; */
}

#input {
    border: 2px inset #ccc;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    font-family: 'Comic Sans MS';
}

.input-bar {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-top: 2px outset #FFF;
}

#status {
    width: 88px;
    display: block;
    float: left;
    margin-top: 15px;
}

.box {
    float: left; /* Disable when ff28 lands, use flex-wrap: wrap in #content */
    width: 350px;
    height: 350px;
    background-image: url('../backgrounds/field.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0.5rem;
    outline: solid 3px #000;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.actor {
    max-width: 100%;
    height: calc(100% - 2rem);
    max-height: 100%;
    float: left;
    margin: 1rem;
}

.name {
   text-shadow:
     -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}

.avatar {
    margin: 3rem 0 0 0;
    max-width: 100%;
}

.avatar img {
    max-width: 100%;
}

.chat-bubble {
    position: relative;
    max-width: 120px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000 solid 5px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 120%;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 33px;
}

.chat-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 19px 0;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -24px;
    left: 29px;
}

.template {
    display: none;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}