html, body {
    font-family: "Comic Sans MS";
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    line-height: 150%;
}

#content {
    padding: 1rem 1rem 6rem 1rem;
    background: #eee;
    width: calc(100% - 2rem);

    float: left;  /*Remove when flex-wrapped*/

    /*display: flex;*/
    /*flex-direction: row;*/
    /* Chrome-only before FF28 lands. Use float: left in .box for now */
    /* flex-wrap: wrap; */
}

.input-bar {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-top: 0.2rem outset #FFF;
    padding: 0 1rem;
}

.options {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin: 0 2rem 0 0;
}

.options div {
    margin: 0 1rem;
}

#input {
    border: 2px inset #ccc;
    padding: 0.5rem;
    width: calc(100% - 1.6rem);
    font-family: 'Comic Sans MS';
}

#input-form {
    flex-grow: 2;
}

.box {
    float: left; /* Disable when ff28 lands, use flex-wrap: wrap in #content */
    width: 350px;
    height: 350px;
    background-image: url('../res/backgrounds/field.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0.5rem;
    outline: solid 3px #000;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.actor {
    max-width: 100%;
    height: calc(100% - 1rem);
    max-height: 100%;
    float: left;
    margin: 0.5rem;
}

.name {
   text-shadow:
     -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}

.avatar {
    margin: 3rem 0 0 0;
    max-width: 100%;
}

.avatar img {
    max-width: 100%;
}
.chat-bubble {
    position: relative;
    max-width: 12rem;
    max-height: 20rem;
    padding: 0.7rem;
    background: #FFFFFF;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    border: #000 solid 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.chat-bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3rem 0.5rem 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: 0.15rem;
    bottom: -2rem;
    left: 50%;
}

.chat-bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3rem 0.8rem 0;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -0.08rem;
    bottom: -3rem;
    left: 50%;
}

.template {
    display: none;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}