html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "Comic Sans MS";
}

p {
    line-height: 150%;
}

#content {
    padding: 1rem 1rem 6rem 1rem;
    width: calc(100% - 2rem);
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-bar {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    padding: 0 1rem;
    width: 100%;
    height: 5rem;
    border-top: 0.2rem outset #FFF;
    background-color: #C0C0C0;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    margin: 0 2rem 0 0;
    justify-content: center;
    flex-grow: 0;
}

.options div {
    margin: 0 1rem;
}

#input {
    width: calc(100% - 1.6rem);
}

input[type=text] {
    border: 2px inset #ccc;
    padding: 0.5rem;
    font-family: 'Comic Sans MS';
}

#input-form {
    flex-grow: 2;
}

.box {
    display: flex;
    overflow: hidden;
    margin: 0.5rem;
    padding: 1rem;
    width: 350px;
    height: 350px;
    outline: solid 3px #000;
    background-image: url('../res/backgrounds/field.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -ms-interpolation-mode: nearest-neighbor;
    align-items: center;
    justify-content: center;

    image-rendering: crisp-edges;
    image-rendering: pixelated; /* Chrome */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.actor {
    float: left;
    margin: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    height: calc(100% - 1rem);
    flex: 1; /* required for IE */
}

.name {
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #FFF,
         1px -1px 0 #FFF,
        -1px  1px 0 #FFF,
         1px  1px 0 #FFF,

        -2px -2px 0 #FFF,
         2px -2px 0 #FFF,
        -2px  2px 0 #FFF,
         2px  2px 0 #FFF;
}

.avatar {
    margin: 3rem 0 0 0;
    max-width: 100%;
}

.avatar img {
    width: 100%;
}

.chat-bubble {
    position: relative;
    padding: 0.7rem;
    max-width: 12rem;
    max-height: 20rem;
    border: #000 solid 0.3rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}

.chat-bubble:after {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    z-index: 1;
    display: block;
    margin-left: 0.15rem;
    width: 0;
    border-width: 3rem 0.5rem 0;
    border-style: solid;
    border-color: #FFFFFF transparent;
    content: '';
}

.chat-bubble:before {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    z-index: 0;
    display: block;
    margin-left: -0.08rem;
    width: 0;
    border-width: 3rem 0.8rem 0;
    border-style: solid;
    border-color: #000 transparent;
    content: '';
}

.template {
    display: none;
}

.flip-horizontal {
    -ms-filter: fliph; /*IE*/
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}
